<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>
<% unless @song.errors.full_messages.empty? %>
<%= @song.errors.full_messages[0] %>
<% end %>
<%= @song.name %>
<a href="/artists/<%= @song.artist.slug %>"><%= @song.artist.name %></a>
<% @song.genres.each do |genre| %>
<a href="/genres/<%= genre.slug %>"><%= genre.name %></a>
<% end %>
